USE [master]
GO
/****** Object:  Database [Fast_Food_db]    Script Date: 11/07/2025 1:52:45 CH ******/
CREATE DATABASE [Fast_Food_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fast_Food_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JONNYTRAN\MSSQL\DATA\Fast_Food_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fast_Food_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.JONNYTRAN\MSSQL\DATA\Fast_Food_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fast_Food_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fast_Food_db]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[password_hash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryLog]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[status] [varchar](20) NULL,
	[timestamp] [datetime] NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[dish_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[price] [int] NULL,
	[image_url] [nvarchar](255) NULL,
	[category_id] [int] NULL,
	[is_available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[dish_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FailedDelivery]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FailedDelivery](
	[fail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[attempt] [tinyint] NULL,
	[reason] [nvarchar](max) NULL,
	[logged_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[fail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[status] [varchar](20) NULL,
	[total_amount] [int] NULL,
	[payment_method] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[dish_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[amount] [int] NULL,
	[payment_method] [varchar](10) NULL,
	[status] [varchar](10) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueReport]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueReport](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[total_orders] [int] NULL,
	[total_revenue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[shipper_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[password_hash] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipper_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[shipper_id] [int] NULL,
	[current_status] [varchar](20) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/07/2025 1:52:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[password_hash] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[gender] [varchar](10) NULL,
	[birthdate] [date] NULL,
	[status] [varchar](10) NULL,
	[is_flagged] [bit] NULL,
	[boom_count] [int] NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [user_name], [email], [password_hash]) VALUES (1, N'admin1', N'admin1@gmail.com', N'$2a$12$eWvk6uK4f9WfMjO8PgO6QOdvRAPNzB0pSf4YzEUjQT5cdf61uc2Dy')
INSERT [dbo].[Admin] ([admin_id], [user_name], [email], [password_hash]) VALUES (2, N'admin2', N'admin2@gmail.com', N'$2a$12$ratWL.ngPRhZtHo88CwSCe7vVHRY.On4I2lBu3WPEJLAV..mMnJza')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [name], [description]) VALUES (1, N'Com', N'Các món cơm truyền thống')
INSERT [dbo].[Category] ([category_id], [name], [description]) VALUES (2, N'Mì', N'Các món mì đặc sắc')
INSERT [dbo].[Category] ([category_id], [name], [description]) VALUES (3, N'Nước uống', N'Trà sữa, nước ngọt, nước trái cây')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryLog] ON 

INSERT [dbo].[DeliveryLog] ([log_id], [order_id], [status], [timestamp], [note]) VALUES (1, 1, N'preparing', CAST(N'2025-07-11T13:41:58.833' AS DateTime), N'Bắt đầu chuẩn bị')
INSERT [dbo].[DeliveryLog] ([log_id], [order_id], [status], [timestamp], [note]) VALUES (2, 1, N'assigned', CAST(N'2025-07-11T13:41:58.833' AS DateTime), N'Đã giao cho shipper')
INSERT [dbo].[DeliveryLog] ([log_id], [order_id], [status], [timestamp], [note]) VALUES (3, 2, N'delivering', CAST(N'2025-07-11T13:41:58.833' AS DateTime), N'Đang giao')
SET IDENTITY_INSERT [dbo].[DeliveryLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

INSERT [dbo].[Dish] ([dish_id], [name], [description], [price], [image_url], [category_id], [is_available]) VALUES (1, N'Cơm gà xối mỡ', N'Cơm gà giòn rụm, ăn kèm nước mắm gừng', 30000, NULL, 1, 1)
INSERT [dbo].[Dish] ([dish_id], [name], [description], [price], [image_url], [category_id], [is_available]) VALUES (2, N'Mì xào bò', N'Mì xào bò cay tê', 40000, NULL, 2, 1)
INSERT [dbo].[Dish] ([dish_id], [name], [description], [price], [image_url], [category_id], [is_available]) VALUES (3, N'Trà sữa trân châu', N'Trà sữa nhà làm', 25000, NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Dish] OFF
GO
SET IDENTITY_INSERT [dbo].[FailedDelivery] ON 

INSERT [dbo].[FailedDelivery] ([fail_id], [order_id], [attempt], [reason], [logged_at]) VALUES (1, 2, 1, N'Khách không nghe máy', CAST(N'2025-07-11T13:44:39.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[FailedDelivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [user_id], [status], [total_amount], [payment_method], [created_at], [updated_at]) VALUES (1, 1, N'preparing', 95000, N'COD', CAST(N'2025-07-11T13:38:54.957' AS DateTime), CAST(N'2025-07-11T13:38:54.957' AS DateTime))
INSERT [dbo].[Order] ([order_id], [user_id], [status], [total_amount], [payment_method], [created_at], [updated_at]) VALUES (2, 2, N'delivering', 25000, N'VNPAY', CAST(N'2025-07-11T13:38:54.957' AS DateTime), CAST(N'2025-07-11T13:38:54.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [dish_id], [quantity], [unit_price]) VALUES (1, 1, 1, 2, 35000)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [dish_id], [quantity], [unit_price]) VALUES (2, 1, 3, 1, 25000)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [dish_id], [quantity], [unit_price]) VALUES (3, 2, 3, 1, 25000)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [order_id], [amount], [payment_method], [status], [paid_at]) VALUES (1, 1, 95000, N'COD', N'pending', NULL)
INSERT [dbo].[Payment] ([payment_id], [order_id], [amount], [payment_method], [status], [paid_at]) VALUES (2, 2, 25000, N'VNPAY', N'completed', CAST(N'2025-07-11T13:40:39.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[RevenueReport] ON 

INSERT [dbo].[RevenueReport] ([report_id], [date], [total_orders], [total_revenue]) VALUES (1, CAST(N'2025-07-10' AS Date), 2, 120000)
INSERT [dbo].[RevenueReport] ([report_id], [date], [total_orders], [total_revenue]) VALUES (2, CAST(N'2025-07-11' AS Date), 1, 25000)
SET IDENTITY_INSERT [dbo].[RevenueReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([shipper_id], [user_name], [full_name], [phone], [email], [password_hash], [created_at]) VALUES (1, N'shipper01', N'Lê Văn Ship', N'0909777888', N'ship01@fastfood.vn', N'$2a$12$YDYcSm/k1AbBNcUp.7EjGu7O1dL.gjmntQfcJ8p1QW.K1UeXfVJYa', CAST(N'2025-07-11T13:22:39.387' AS DateTime))
INSERT [dbo].[Shipper] ([shipper_id], [user_name], [full_name], [phone], [email], [password_hash], [created_at]) VALUES (2, N'shipper02', N'Mai Thị Giao', N'0911222333', N'ship02@fastfood.vn', N'$2a$12$abRTANXYZDuJNtkm5QJ5ueaQ.Py6xNPOmeNEr.5LdvfQr0FE9BoAO', CAST(N'2025-07-11T13:22:39.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([shipping_id], [order_id], [shipper_id], [current_status], [updated_at]) VALUES (1, 1, 1, N'picked_up', CAST(N'2025-07-11T13:40:56.670' AS DateTime))
INSERT [dbo].[Shipping] ([shipping_id], [order_id], [shipper_id], [current_status], [updated_at]) VALUES (2, 2, 2, N'on_way', CAST(N'2025-07-11T13:40:56.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [user_name], [email], [full_name], [phone], [password_hash], [address], [avatar_url], [gender], [birthdate], [status], [is_flagged], [boom_count], [note], [created_at]) VALUES (1, N'user1', N'user1@gmail.com', N'Nguyễn Văn A', N'0909123456', N'$2a$12$jWItFLRpify8ppjQmugKFe8A6PwK0SqUqobxJwdo4g/J7e.B1S5iW', N'123 Lê Lợi, Q1', NULL, N'male', CAST(N'2004-01-01' AS Date), N'active', 0, 0, NULL, CAST(N'2025-07-11T13:13:57.447' AS DateTime))
INSERT [dbo].[User] ([user_id], [user_name], [email], [full_name], [phone], [password_hash], [address], [avatar_url], [gender], [birthdate], [status], [is_flagged], [boom_count], [note], [created_at]) VALUES (2, N'user2', N'user2@gmail.com', N'Trần Thị B', N'0909345678', N'$2a$12$O17dwWQ5mEmeZQzzZQbKyeoQdQLlJYENT86caifgQGSZaAO52pUce', N'456 Nguyễn Huệ, Q1', NULL, N'female', CAST(N'2004-07-15' AS Date), N'active', 0, 0, NULL, CAST(N'2025-07-11T13:13:57.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__AB6E6164DF1D014A]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__72E12F1B68F666CD]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipper__AB6E616404797205]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[Shipper] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipper__B43B145FC55337E1]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[Shipper] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164069B3EB1]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__B43B145F95039294]    Script Date: 11/07/2025 1:52:46 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dish] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('COD') FOR [payment_method]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Shipper] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [boom_count]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DeliveryLog]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryLog_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[DeliveryLog] CHECK CONSTRAINT [FK_DeliveryLog_Order]
GO
ALTER TABLE [dbo].[Dish]  WITH CHECK ADD  CONSTRAINT [FK_Dish_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Dish] CHECK CONSTRAINT [FK_Dish_Category]
GO
ALTER TABLE [dbo].[FailedDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FailedDelivery_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[FailedDelivery] CHECK CONSTRAINT [FK_FailedDelivery_Order]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Dish] FOREIGN KEY([dish_id])
REFERENCES [dbo].[Dish] ([dish_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Dish]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Order]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Shipper] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Shipper] ([shipper_id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Shipper]
GO
ALTER TABLE [dbo].[DeliveryLog]  WITH CHECK ADD CHECK  (([status]='bomb' OR [status]='failed_2' OR [status]='redelivery' OR [status]='failed_1' OR [status]='success' OR [status]='delivering' OR [status]='assigned' OR [status]='preparing'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([payment_method]='VNPAY' OR [payment_method]='COD'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='bomb' OR [status]='failed_2' OR [status]='redelivery' OR [status]='failed_1' OR [status]='success' OR [status]='delivering' OR [status]='assigned' OR [status]='preparing'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='VNPAY' OR [payment_method]='COD'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD CHECK  (([current_status]='returned' OR [current_status]='failed' OR [current_status]='delivered' OR [current_status]='on_way' OR [current_status]='picked_up' OR [current_status]='pending'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([gender]='other' OR [gender]='female' OR [gender]='male'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
USE [master]
GO
